.notification {
  font: normal 16px Verdana, Tahoma;
  background-color: #f9edbe;
  border: 1px solid #F0C36D;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  line-height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 100px;
  z-index: 100001;
}

.answers .dontknow {
  color: #d2322d;
}

.answers .send {
  margin-bottom: 5px;
  margin-top: 15px;
}

.q-progress {
  margin-top: 15px;
}

.btn-again {
  margin-top: 20px;
}

.share {
  margin-top: 30px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

#footer {
  bottom: 0px;
  position: absolute;
  width: 100%;
}

.feedback-message {
  border-radius: .25em;
  color: #ffffff;
  display: inline;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.33;
  padding: .2em .6em .3em;
  text-align: center;
  vertical-align: baseline;
  white-space: normal;
  word-wrap: break-word;
}

.label {
  white-space: normal;
  word-wrap: break-word;
}

.instruction-text {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 16px;
}

.answer-container {
  padding: 2px 0;
  position:relative;
}

.answer-text-container {
  display: inline-block;
  padding-right: 20px;
  width: 100%;
}

.answer-help-container {
  display: inline-block;
  position: absolute;
  right: 0px;
  padding-top: 10px;
  top: 0px;
}

.answer-feedback-blk {
  border: 1px solid transparent;
  border-radius: 6px;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.33;
  outline: none;
  padding: 10px 0;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
}

.correct-answer {
  background-color: #1CB841;
  border-color: #1CB841;
}

.incorrect-answer {
  background-color: #A9A9A9;
  border-color: #A9A9A9;
}

.user-answer {
  background-color: #d9534f;
  border-color: #d9534f;
}

.help {
  background: url(../assets/question.png) no-repeat;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 3px 3px;
  opacity: 0.55;
  cursor: hand;
  cursor: pointer;
}

.help-panel {
  margin-top: 5px;
  margin-bottom: 0px;
}
