<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<servlet>
		<servlet-name>UpdateAllQuestionStatistics</servlet-name>
		<servlet-class>us.quizz.servlets.UpdateAllQuestionStatistics</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateQuestionStatistics</servlet-name>
		<servlet-class>us.quizz.servlets.UpdateQuestionStatistics</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUserQuizStatistics</servlet-name>
		<servlet-class>us.quizz.servlets.UpdateUserQuizStatistics</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateAllUserStatistics</servlet-name>
		<servlet-class>us.quizz.servlets.UpdateAllUserStatistics</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CacheQuizQuestions</servlet-name>
		<servlet-class>us.quizz.servlets.CacheQuizQuestions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCountStatistics</servlet-name>
		<servlet-class>us.quizz.servlets.UpdateCountStatistics</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetQuizCounts</servlet-name>
		<servlet-class>us.quizz.servlets.GetQuizCounts</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>UpdateQuestionStatistics</servlet-name>
		<url-pattern>/api/updateQuestionStatistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAllQuestionStatistics</servlet-name>
		<url-pattern>/api/updateAllQuestionStatistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserQuizStatistics</servlet-name>
		<url-pattern>/api/updateUserQuizStatistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAllUserStatistics</servlet-name>
		<url-pattern>/api/updateAllUserStatistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CacheQuizQuestions</servlet-name>
		<url-pattern>/api/cacheQuizQuestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCountStatistics</servlet-name>
		<url-pattern>/api/updateCountStatistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetQuizCounts</servlet-name>
		<url-pattern>/api/getQuizCounts</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
