<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<listener>
		<listener-class>us.quizz.di.ContextListener</listener-class>
	</listener>

	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

<!-- 
	<servlet>
        <servlet-name>appstats</servlet-name>
        <servlet-class>com.google.appengine.tools.appstats.AppstatsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>appstats</servlet-name>
        <url-pattern>/appstats/*</url-pattern>
    </servlet-mapping>

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/appstats/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	
	<filter>
        <filter-name>appstats</filter-name>
        <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
        <init-param>
            <param-name>logMessage</param-name>
            <param-value>Appstats available: /appstats/details?time={ID}</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>appstats</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
 -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>500</error-code>
        <location>/500.jsp</location>
    </error-page>
    
    <security-constraint>
		<web-resource-collection>
			<web-resource-name>all</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
	    	<transport-guarantee>CONFIDENTIAL</transport-guarantee>
	  	</user-data-constraint>
	</security-constraint>
    
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value>
				us.quizz.endpoints.ReportsEndpoint,
				us.quizz.endpoints.ExplorationExploitationEndpoint,
				us.quizz.endpoints.CampaignManagementEndpoint,
				us.quizz.endpoints.BadgeEndpoint,
				us.quizz.endpoints.ProcessUserAnswerEndpoint,
				us.quizz.endpoints.TreatmentEndpoint,
			    us.quizz.endpoints.SurvivalProbabilityEndpoint,
			    us.quizz.endpoints.UtilEndpoint,
				us.quizz.endpoints.QuizEndpoint,
				us.quizz.endpoints.QuestionEndpoint,
				us.quizz.endpoints.QuizPerformanceEndpoint,
				us.quizz.endpoints.UserAnswerEndpoint,
				us.quizz.endpoints.UserAnswerFeedbackEndpoint,
				us.quizz.endpoints.UserEndpoint,
				us.quizz.endpoints.UserReferalEndpoint
			</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>
