<div class="modal-header">
  <button type="button" class="close" ng-click="close()" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Challenge the answer</h4>
</div>
<div class="modal-body">
  <div ng-show="showOptions">
    <div style="padding-bottom: 8px">
      What is wrong with this question?
    </div>

    <button type="button" class="btn btn-primary btn-block"
            ng-click="saveOption('WRONG_ANSWER')">
      Answer is wrong and there is another correct answer
    </button>

    <button type="button" class="btn btn-primary btn-block"
            ng-click="saveOption('MULTIPLE_CORRECT_ANSWERS')">
      There are multiple correct answers
    </button>

    <button type="button" class="btn btn-primary btn-block"
            ng-click="saveOption('MALFORMED_QUESTION')">
      Question doesn't make sense
    </button>

    <button type="button" class="btn btn-primary btn-block"
            ng-click="saveOption('OTHER')">
      Others
    </button>
  </div>

  <div ng-show="showThanks">
    <div style="padding-bottom: 8px">
      Thanks for your feedback! You can provide more information below:
    </div>

    <div style="padding: 8px 0">
      <span>Correct value (optional):</span>
      <input type="text" style="width:250px"
             ng-model="challengeCorrectValueMessage">
    </div>

    <div style="padding: 8px 0">
      <div>Url evidence (optional):</div>
      <input type="text" style="width: 100%"
             ng-model="challengeURLMessage">
    </div>

    <div style="padding: 8px 0">
      <span>Additional comment (optional)</span>
      <textarea rows="4" style="width:500px"
                ng-model="challengeAnswerMessage">
      </textarea>
    </div>
  </div>
</div>

<div class="modal-footer" ng-show="showThanks">
  <button type="button" class="btn btn-default" ng-click="close()">Cancel</button>
  <button type="button" class="btn btn-default" ng-click="send()">Send</button>
</div>