<ul id="boards" class="nav nav-tabs">
  <li class="active"><a href="#top" data-toggle="tab">Top 10</a></li>
  <li><a href="#range" data-toggle="tab">Your Range</a></li>
  <li><a href="#graph" data-toggle="tab">Graphed</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="top">
    <div ng-grid="topTenOption"></div>
  </div>
  <div class="tab-pane" id="range">
    <div ng-grid="rangeOption"></div>
  </div>
  <div class="tab-pane" id="graph">...</div>
</div>

<script>
    $('#boards a').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
</script>