<div class="text-center">
	<a id='facebook-login' href="" ng-click="facebookLogin()" ng-hide="loginStatus.status == 'connected'">
	<img src="./assets/facebook_button.png" width="160px" height="80px"></a>
	<button type="button" class="btn btn-default" ng-click="logout()" ng-hide="!loginStatus || loginStatus.status != 'connected'">Logout</button>
</div>
<table class="table table-hover" ng-show="readyToShow == true">
	<thead>
		<tr>
			<th>Quiz</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="quiz in quizes | orderBy:'name'">
			<td>
				<a href="#/quiz?quizId={{quiz.quizID}}">{{quiz.name}}</a>
				<div>
					<small>(Your progress: {{quiz.totalanswers}}/{{quiz.questions}})</small>
				</div>
			</td>
		</tr>
	</tbody>
</table>