<div class="text-center">
	<a id='facebook-login' href="#"><img src="./assets/facebook_button.png" width="160px" height="80px"></a>
</div>
<span style='display: none'><a href="#">Logout</a></span>
<table class="table table-hover" ng-show="readyToShow == true">
	<thead>
		<tr>
			<th>Quiz</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="quiz in quizes | orderBy:'name'">
			<td>
				<a href="#/quiz?quizId={{quiz.quizID}}">{{quiz.name}}</a>
				<div>
					<small>(Your progress: {{quiz.totalanswers}}/{{quiz.questions}})</small>
				</div>
			</td>
		</tr>
	</tbody>
</table>