<div ng-show="readyToShow == true">
  <div class="q-progress text-center">
    Question {{currentQuestionIndex}} out of {{numQuestions}}
  </div>

  <div class="alert alert-info text-center" ng-show="showPerformance">
    <span class="label label-primary">Score: {{performance.score.toFixed(3)}} points</span>
    <span class="label label-primary" id="correctAnswers">Correct Answers: {{performance.correctanswers}}/{{performance.totalanswers}}</span>
    <span class="label label-primary" id="percentageCorrect">Correct (%): {{utils.toSafePercentage(performance.percentageCorrect)}}</span>
    <span class="label label-primary">{{ranksFormating(performance.rankScore, performance.totalUsers)}}</span>
  </div>

  <div class="lead text-center">
    <span ng-bind-html="currentQuestion.questionText.value"></span>
    <span class="help" title="Help" data-placement="left"  data-trigger="click"
      data-template="views/parts/help.html" data-content="{{currentQuestion.instruction.value}}" container="body" bs-popover></span>
  </div>

  <div class="answers">
    <div ng-repeat="answer in currentQuestion.answers |filter:filterSelectable" class="answer-container">
      <div class="answer-text-container">
		    <button type="button" class="btn btn-primary btn-lg btn-block"
		            ng-click="answerQuestion(answer.internalID)"
		            >
		      {{answer.text}}
		    </button>
      </div>
      <div class="answer-help-container">
		<span class="help" title="Help" data-placement="left"  data-trigger="click"
		  data-template="views/parts/help.html" data-content="{{answer.helpText.value}}" container="body" bs-popover></span>
      </div>
    </div>

    <div ng-repeat="answer in currentQuestion.answers |filter:filterNotSelectable">
      <h4>Your answer:</h4>
      <input type="text" class="form-control" ng-model="userInput">
      <button type="button" class="btn btn-primary btn-lg btn-block send"
              ng-disabled="!userInput || userInput==''"
              ng-click="answerQuestion(-1, 'input_text')">
        Send
      </button>
    </div>

	<div style="padding-right: 20px;">
	    <button type="button" class="btn btn-danger btn-lg btn-block"
	            ng-click="answerQuestion(-1)">
	      Skip
	    </button>
    </div>
  </div>

</div>
