<div ng-show="readyToShow == true">
  <div class="q-progress text-center" ng-show="numQuestions != -1">
    Question {{currentQuestionIndex}} out of {{numQuestions}}
  </div>

  <div class="alert alert-info text-center" ng-show="showPerformance">
    <span class="label label-primary">Score: {{performance.score.toFixed(3)}} points</span>
    <span class="label label-primary" id="correctAnswers">Correct Answers: {{performance.correctanswers}}/{{performance.totalanswers}}</span>
    <span class="label label-primary" id="percentageCorrect">Correct (%): {{utils.toSafePercentage(performance.percentageCorrect)}}</span>
    <span class="label label-primary">{{ranksFormating(performance.rankScore, performance.totalUsers)}}</span>
  </div>

  <div class="instruction-text" ng-bind-html="currentQuestion.instruction.value"></div>

  <div class="lead text-center">
    <span ng-bind-html="currentQuestion.questionText.value"></span>
    <span ng-if="currentQuestion.helpText" class="help"
          ng-click="toggleQuestionHelp('help-' + answer.internalID)">
    </span>
    <div ng-if="currentQuestion.helpText" class="panel panel-default help-panel"
         slide-toggle="questionHelpState">
      <div ng-bind-html="currentQuestion.helpText.value" class="panel-body">
      </div>
    </div>
  </div>

  <div class="answers">
    <div ng-repeat="answer in currentQuestion.answers |filter:filterSelectable"
         class="answer-container">
      <div class="answer-text-container">
        <button type="button" class="btn btn-primary btn-lg btn-block"
                ng-click="answerQuestion(answer.internalID)">
          {{answer.text}}
        </button>
        <div ng-if="answer.helpText" class="panel panel-default help-panel"
             style="display:none"
             slide-toggle="answerHelpStates['help-' + answer.internalID]">
          <div ng-bind-html="answer.helpText.value" class="panel-body"></div>
        </div>
      </div>
      <div class="answer-help-container">
        <span ng-if="answer.helpText" class="help"
              ng-click="toggleAnswerHelp('help-' + answer.internalID)">
        </span>
      </div>
    </div>

    <div style="padding-right: 20px;"
         ng-show="currentQuestion.kind == 'FREETEXT_COLLECTION' ||
                  currentQuestion.kind == 'FREETEXT_CALIBRATION'">
      <h4>Your answer:</h4>
      <input type="text" class="form-control" ng-model="userInput">
      <button type="button" class="btn btn-primary btn-lg btn-block send"
              ng-disabled="!userInput || userInput==''"
              ng-click="answerQuestion(-1, userInput)">
        Send
      </button>
    </div>

    <div style="padding-right: 20px;">
      <button type="button" class="btn btn-danger btn-lg btn-block"
              ng-click="answerQuestion(-1)">
        Skip
      </button>
    </div>
  </div>
</div>
