<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>AddRelation</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.AddRelation</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddEntity</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.AddEntity</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddUserEntry</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.AddUserEntry</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>AddCampaign</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.ads.AddCampaign</servlet-class>
	</servlet>


	<servlet-mapping>
		<servlet-name>AddRelation</servlet-name>
		<url-pattern>/addRelation</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddEntity</servlet-name>
		<url-pattern>/addEntity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserEntry</servlet-name>
		<url-pattern>/addUserEntry</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>AddCampaign</servlet-name>
		<url-pattern>/addCampaign</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<security-constraint>
        <web-resource-collection>
         	<web-resource-name>Protected Area</web-resource-name> 
            <url-pattern>/index.*</url-pattern>
            <url-pattern>/addRelation.*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	
	
</web-app>
