<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<servlet>
		<servlet-name>AddQuiz</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.AddQuiz</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StartQuiz</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.StartQuiz</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddQuizQuestion</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.AddQuizQuestion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadQuestions</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.UploadQuestions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddTreatment</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.AddTreatment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddGoldAnswer</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.AddGoldAnswer</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>UploadGoldAnswers</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.UploadGoldAnswers</servlet-class>
	</servlet>
			<servlet>
		<servlet-name>AddSilverAnswer</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.AddSilverAnswer</servlet-class>
	</servlet>
			<servlet>
		<servlet-name>UploadSilverAnswers</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.UploadSilverAnswers</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>AddUserAnswer</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.AddUserAnswer</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>ProcessUserAnswer</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.ProcessUserAnswer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UploadCrowdAnswers</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.UploadCrowdAnswers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadUserAnswers</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.DownloadUserAnswers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetNumberOfQuizQuestions</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.api.GetNumberOfQuizQuestions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetNumberOfGoldAnswers</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.api.GetNumberOfGoldAnswers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetNumberOfSilverAnswers</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.api.GetNumberOfSilverAnswers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetNumberOfUserAnswers</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.api.GetNumberOfUserAnswers</servlet-class>
	</servlet>
		
	<servlet>
		<servlet-name>GetNumberOfSubmittedAnswers</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.api.GetNumberOfSubmittedAnswers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCountStatistics</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.api.UpdateCountStatistics</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DeleteQuiz</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.DeleteQuiz</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>AddCampaign</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.AddCampaign</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddAdGroup</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.AddAdGroup</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UpdateAllQuestionStatistics</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.api.UpdateAllQuestionStatistics</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UpdateQuestionStatistics</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.api.UpdateQuestionStatistics</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>UpdateUserQuizStatistics</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.api.UpdateUserQuizStatistics</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateAllUserStatistics</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.api.UpdateAllUserStatistics</servlet-class>
	</servlet>	
	<servlet>
		<servlet-name>ScanUserAnswersAndCreateUsers</servlet-name>
		<servlet-class>com.ipeirotis.crowdquiz.servlets.ScanUserAnswersAndCreateUsers</servlet-class>
	</servlet>	


	<servlet-mapping>
		<servlet-name>StartQuiz</servlet-name>
		<url-pattern>/startQuiz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScanUserAnswersAndCreateUsers</servlet-name>
		<url-pattern>/scanUserAnswersAndCreateUsers</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>AddQuiz</servlet-name>
		<url-pattern>/addQuiz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddQuizQuestion</servlet-name>
		<url-pattern>/addQuizQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadQuestions</servlet-name>
		<url-pattern>/uploadQuestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddGoldAnswer</servlet-name>
		<url-pattern>/addGoldAnswer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadGoldAnswers</servlet-name>
		<url-pattern>/uploadGoldAnswers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddSilverAnswer</servlet-name>
		<url-pattern>/addSilverAnswer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadSilverAnswers</servlet-name>
		<url-pattern>/uploadSilverAnswers</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>AddUserAnswer</servlet-name>
		<url-pattern>/addUserAnswer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessUserAnswer</servlet-name>
		<url-pattern>/processUserAnswer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UploadCrowdAnswers</servlet-name>
		<url-pattern>/uploadCrowdAnswers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadUserAnswers</servlet-name>
		<url-pattern>/admin/downloadUserAnswers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTreatment</servlet-name>
		<url-pattern>/addTreatment</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>GetNumberOfQuizQuestions</servlet-name>
		<url-pattern>/api/getNumberOfQuizQuestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetNumberOfGoldAnswers</servlet-name>
		<url-pattern>/api/getNumberOfGoldAnswers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetNumberOfSilverAnswers</servlet-name>
		<url-pattern>/api/getNumberOfSilverAnswers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetNumberOfUserAnswers</servlet-name>
		<url-pattern>/api/getNumberOfUserAnswers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetNumberOfSubmittedAnswers</servlet-name>
		<url-pattern>/api/getNumberOfSubmittedAnswers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCountStatistics</servlet-name>
		<url-pattern>/api/updateCountStatistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateQuestionStatistics</servlet-name>
		<url-pattern>/api/updateQuestionStatistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAllQuestionStatistics</servlet-name>
		<url-pattern>/api/updateAllQuestionStatistics</url-pattern>
	</servlet-mapping>	
	
		<servlet-mapping>
		<servlet-name>UpdateUserQuizStatistics</servlet-name>
		<url-pattern>/api/updateUserQuizStatistics</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>UpdateAllUserStatistics</servlet-name>
		<url-pattern>/api/updateAllUserStatistics</url-pattern>
	</servlet-mapping>		
	<servlet-mapping>
		<servlet-name>DeleteQuiz</servlet-name>
		<url-pattern>/api/deleteQuiz</url-pattern>
	</servlet-mapping>
		

	<servlet-mapping>
		<servlet-name>AddCampaign</servlet-name>
		<url-pattern>/addCampaign</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddAdGroup</servlet-name>
		<url-pattern>/addAdGroup</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
	<security-constraint>
        <web-resource-collection>
         	<web-resource-name>Protected Area</web-resource-name> 
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
	
	
</web-app>
