<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


	<servlet>
		<servlet-name>AddQuiz</servlet-name>
		<servlet-class>us.quizz.servlets.AddQuiz</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StartQuiz</servlet-name>
		<servlet-class>us.quizz.servlets.StartQuiz</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddQuestion</servlet-name>
		<servlet-class>us.quizz.servlets.AddQuestion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddTreatment</servlet-name>
		<servlet-class>us.quizz.servlets.AddTreatment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddBadge</servlet-name>
		<servlet-class>us.quizz.servlets.AddBadge</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>AddUserAnswer</servlet-name>
		<servlet-class>us.quizz.servlets.AddUserAnswer</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>ProcessUserAnswer</servlet-name>
		<servlet-class>us.quizz.servlets.ProcessUserAnswer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DownloadUserAnswers</servlet-name>
		<servlet-class>us.quizz.servlets.DownloadUserAnswers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetQuizCounts</servlet-name>
		<servlet-class>us.quizz.servlets.api.GetQuizCounts</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetNumberOfSubmittedAnswers</servlet-name>
		<servlet-class>us.quizz.servlets.api.GetNumberOfSubmittedAnswers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateCountStatistics</servlet-name>
		<servlet-class>us.quizz.servlets.api.UpdateCountStatistics</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CacheQuizQuestions</servlet-name>
		<servlet-class>us.quizz.servlets.api.CacheQuizQuestions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteQuiz</servlet-name>
		<servlet-class>us.quizz.servlets.DeleteQuiz</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateAllQuestionStatistics</servlet-name>
		<servlet-class>us.quizz.servlets.api.UpdateAllQuestionStatistics</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>UpdateQuestionStatistics</servlet-name>
		<servlet-class>us.quizz.servlets.api.UpdateQuestionStatistics</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUserQuizStatistics</servlet-name>
		<servlet-class>us.quizz.servlets.api.UpdateUserQuizStatistics</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateAllUserStatistics</servlet-name>
		<servlet-class>us.quizz.servlets.api.UpdateAllUserStatistics</servlet-class>
	</servlet>
		<servlet>
		<servlet-name>UpdateUserExperiment</servlet-name>
		<servlet-class>us.quizz.servlets.api.UpdateUserExperiment</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSurvivalProbability</servlet-name>
		<servlet-class>us.quizz.servlets.api.GetSurvivalProbability</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>FacebookLogin</servlet-name>
		<servlet-class>us.quizz.servlets.FacebookLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CampaignManagement</servlet-name>
		<servlet-class>us.quizz.ads.CampaignManagement</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>StartQuiz</servlet-name>
		<url-pattern>/startQuiz</url-pattern>
	</servlet-mapping>
		<servlet-mapping>
		<servlet-name>CacheQuizQuestions</servlet-name>
		<url-pattern>/api/cacheQuizQuestions</url-pattern>
	</servlet-mapping>
	

	<servlet-mapping>
		<servlet-name>AddQuiz</servlet-name>
		<url-pattern>/addQuiz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddQuestion</servlet-name>
		<url-pattern>/addQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddUserAnswer</servlet-name>
		<url-pattern>/addUserAnswer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ProcessUserAnswer</servlet-name>
		<url-pattern>/processUserAnswer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DownloadUserAnswers</servlet-name>
		<url-pattern>/admin/downloadUserAnswers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTreatment</servlet-name>
		<url-pattern>/addTreatment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBadge</servlet-name>
		<url-pattern>/addBadge</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetQuizCounts</servlet-name>
		<url-pattern>/api/getQuizCounts</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetNumberOfSubmittedAnswers</servlet-name>
		<url-pattern>/api/getNumberOfSubmittedAnswers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateCountStatistics</servlet-name>
		<url-pattern>/api/updateCountStatistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUserExperiment</servlet-name>
		<url-pattern>/api/updateUserExperiment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateQuestionStatistics</servlet-name>
		<url-pattern>/api/updateQuestionStatistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAllQuestionStatistics</servlet-name>
		<url-pattern>/api/updateAllQuestionStatistics</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UpdateUserQuizStatistics</servlet-name>
		<url-pattern>/api/updateUserQuizStatistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateAllUserStatistics</servlet-name>
		<url-pattern>/api/updateAllUserStatistics</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteQuiz</servlet-name>
		<url-pattern>/api/deleteQuiz</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSurvivalProbability</servlet-name>
		<url-pattern>/api/getSurvivalProbability</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FacebookLogin</servlet-name>
		<url-pattern>/fblogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CampaignManagement</servlet-name>
		<url-pattern>/campaignManagement</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<security-constraint>
        <web-resource-collection>
         	<web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>

 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
	   <param-value>
		us.quizz.entities.QuizEndpoint,
		us.quizz.entities.QuestionEndpoint,
		us.quizz.entities.QuizPerformanceEndpoint,
		us.quizz.entities.UserAnswerEndpoint,
		us.quizz.entities.UserAnswerFeedbackEndpoint,
		us.quizz.entities.UserEndpoint,
		us.quizz.entities.UserReferalEndpoint
	  </param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>
